<tr>
  <td><%= "@#{@view.locals[:channel].name}" %></td>
  <td><%= @view.locals[:channel].slack_id %></td>
  <td><%= @view.locals[:channel].created_at.strftime("%a, %d %b %Y") %></td>
  <td><%= @view.locals[:channel].updated_at.strftime("%a, %d %b %Y") %></td>
  <td><%= "Tasks(#{ListItem.where(channel_id: @view.locals[:channel].slack_id).count})" %></td>
</tr>
