<tr>
  <td><%= locals[:channel].slack_channel_name %></td>
  <td><%= locals[:channel].slack_channel_id %></td>
  <td><%= locals[:channel].members_hash[ locals[:channel].slack_user_id ]['slack_user_name'] %></td>
  <td><%= locals[:channel].archived %></td>
  <td><%= locals[:channel].deleted %></td>
  <td><%= locals[:channel].created_at.strftime("%c") %></td>
  <td><%= locals[:channel].updated_at.strftime("%c") %></td>
  <td><%= locals[:items].length %></td>
</tr>
