<% active_channels = locals[:shared_channels].length %>
<h3><%= "Active Channels(#{active_channels}) for Team #{locals[:team].auth_json['info']['team']}" %></h3>
<% unless active_channels == 0 %>
  <table class="table table-bordered table-hover">
    <span style="font-size: 1.2em;"><%= "Shared Channels(#{locals[:shared_channels].length})" %></span>
    <thead>
      <tr>
        <th>Name - Creator<br>(db recId)</th>
        <th>Slack Chan Id</th>
        <th>Created Date</th>
        <th>Last Task Activity type<br>@Date(now)<br>(<%= DateTime.current.in_time_zone("Pacific Time (US & Canada)").strftime('%a %B %e, %Y %l:%M%P - PT') %>)</th>
        <th>Last Taskbot Msg to<br>@Date</th>
        <th>Tasks</th>
      </tr>
    </thead>
    <tbody>
      <% locals[:shared_channels].each do |channel| %>
        <%= render partial: 'channels/admin_views/index_shared_channel',
                   locals: { locals: { channel: channel,
                                       items: ListItem.items(slack_team_id: channel.slack_team_id,
                                                             slack_channel_id: channel.slack_channel_id),
                                       last_item: ListItem.last_active(slack_team_id: channel.slack_team_id,
                                                                       slack_channel_id: channel.slack_channel_id),
                                       member: Member.find_from(source: :slack,
                                                                slack_user_id: channel.slack_user_id,
                                                                slack_team_id: channel.slack_team_id).first
                                     }
                           }
        %>
      <% end %>
    </tbody>
  </table>

  <table class="table table-bordered table-hover">
    <span style="font-size: 1.2em;">Last Activity</span>
    <thead>
      <tr>
        <th>Name - Creator<br>(db recId)</th>
        <th>Task Activity type<br>@Date(now)<br>(<%= DateTime.current.in_time_zone("Pacific Time (US & Canada)").strftime('%a %B %e, %Y %l:%M%P - PT') %>)</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% locals[:shared_channels].each do |channel| %>
        <%= render partial: 'channels/admin_views/index_channel_recent_activity',
                   locals: { locals: { channel: channel,
                                       items: ListItem.items(slack_team_id: channel.slack_team_id,
                                                             slack_channel_id: channel.slack_channel_id),
                                       last_item: ListItem.last_active(slack_team_id: channel.slack_team_id,
                                                                       slack_channel_id: channel.slack_channel_id),
                                       member: Member.find_from(source: :slack,
                                                                slack_user_id: channel.slack_user_id,
                                                                slack_team_id: channel.slack_team_id).first
                                     }
                           }
        %>
      <% end %>
    </tbody>

  </table>
  <% end %>
<br>
