<% channel = locals[:channel]
   member = locals[:member]
   chan_name_creator = "#{channel.slack_channel_name} - #{member.slack_user_name}" unless member.nil?
   chan_name_creator = "#{channel.slack_channel_name} - *member?*" if member.nil?
   if locals[:items].empty?
     description = '*no activity*'
   elsif channel.last_activity_type.nil?
     description = '*unknown*'
   elsif channel.last_activity_type.starts_with?('slash_command')
     if channel.last_activity_type == 'slash_command - help'
       description = channel.last_activity_type
     elsif channel.last_activity_type == 'slash_command - list'
       description = channel.after_action_parse_hash['command']
     else
       description = locals[:last_item].debug_trace
     end
   else
     description = channel.last_activity_type
   end
%>

<tr>
  <td><%= chan_name_creator %><br>(<%= channel.id %>)</td>
  <td><%= channel.last_activity_type %>
    <br>@<%= channel.last_activity_date.nil? ? 'none' : channel.last_activity_date.in_time_zone("Pacific Time (US & Canada)").strftime('%a %B %e, %Y %l:%M%P - PT') %></td>
  <td><%= description %></td>
</tr>
