<tr>
  <td><%= locals[:channel].slack_channel_name %></td>
  <td><%= locals[:channel].slack_channel_id %></td>
  <td><%= locals[:channel].dm_user_id %></td>
  <td><%= locals[:channel].archived %></td>
  <td><%= locals[:channel].deleted %></td>
  <td><%= locals[:channel].created_at.strftime("%c") %></td>
  <td><%= locals[:channel].updated_at.strftime("%c") %></td>
  <td><%= "0" %></td>
</tr>
