<h3 style="padding-left: 20px; margin-top: 0px;">
  <u><%= link_to "#{locals[:member].slack_user_name}",
                 "#{members_path}?#{locals[:members_page_param_name]}=#{locals[:ui_page_num]}" %>
  </u>
  <%= ": (dbId-#{locals[:member].id} #{locals[:member].slack_user_id})" %>&nbsp;&nbsp;
  <% unless locals[:member_installation].nil? %>
    <span style="font-size: 16px;">
      <u><%= link_to 'Added MiaDo',
             "#{installations_path}?options=info&#{locals[:info_page_param_name]}=#{locals[:ui_page_num]}" %>
      </u>
      On: <%= locals[:member_installation].created_at.in_time_zone("Pacific Time (US & Canada)").strftime('%a %B %e, %Y %l:%M%P - PT') %>
    </span>
  <% end %>
</h3>

<%= render partial: 'shared/paginate_page_sub2',
           locals: { locals: { title: "#{locals[:num_member_channels]} Active #{'*Channel'.pluralize(locals[:num_member_channels])}* with #{pluralize(locals[:num_member_tasks], 'Task')}.",
                               path: method(:channels_path),
                               total_records: locals[:num_member_channels],
                               pagination_collection: locals[:member_channels_paginated],
                               page_param_name: 'channel_page'
                             }
                   }
%>
<% locals[:member_channels_paginated].each do |channel| %>
  <% paginate_param_name = 'item_page'
    if params[:clicked] == 'channel_page' ||
       params[:clicked] == 'member_page' ||
       params[:clicked] == 'team_page'
      paginate_page_num = '1'
    else
      paginate_page_num = params[paginate_param_name]
    end
  %>
  <%= render partial: 'channels/admin_views/index_member_channel',
             locals: { locals: { channel: channel,
                                 last_active: channel,
                                 channel_items_paginated: ListItem.items(slack_team_id: channel.slack_team_id,
                                                                         slack_channel_id: channel.slack_channel_id)
                                                                  .paginate(page: paginate_page_num, per_page: 1),
                                 num_tasks: ListItem.num_items(slack_user_id: channel.slack_user_id,
                                                               slack_channel_id: channel.slack_channel_id)
                               }
                       }
  %>
<% end %>
