<h3><u><%= link_to locals[:auth_info]['team'],
                team_path(locals[:team]),
                title: "Created on #{locals[:team].created_at.strftime('%c')}" %></u>
<%= " - #{locals[:installations].length} #{locals[:installations].length == 1 ? 'member has' : 'members have'} installed MiaDo." %></h3>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>First<br>Added By</th>
      <th>Added On</th>
      <th>Last Activity (now)<br>(<%= DateTime.current.in_time_zone("Pacific Time (US & Canada)").strftime('%a %B %e, %Y %l:%M%P - PT') %>)</th>
      <th>Api Token(last 25 digits)</th>
      <th>Members</th>
      <th>Active<br>Channels</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'teams/admin_views/index_team_line1',
               locals: { locals: { team: locals[:team],
                                   members: locals[:members],
                                   channels: locals[:channels],
                                   auth_info: locals[:auth_info],
                                   last_activity: locals[:last_activity]
                                 }
                       }
    %>
  </tbody>
</table>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Bot Name</th>
      <th>Bot Token</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'teams/admin_views/index_team_line2',
               locals: { locals: { team: locals[:team],
                                   auth_info: locals[:auth_info],
                                   auth_extra: locals[:auth_extra]
                                 }
                       }
    %>
  </tbody>
</table>
