<% if locals[:total_records] <= 1 %>
  <div style="padding-left: 18px; font-size: 18px; font-weight: bold;">
    <%= locals[:title] %>
  </div>
<% end %>
<% unless locals[:total_records] <= 1 %>
  <div style="padding-left: 44px; margin-top: 6px; margin-bottom: 0px;">
    <span style="font-size: 14px;">
      Sort by: &nbsp;
      <u><%= link_to 'Install Date', locals[:path].call(sortby: 'install_date') %></u>&nbsp;&nbsp;
      <u><%= link_to 'Alpha', locals[:path].call(sortby: 'alpha') %></u>&nbsp;&nbsp;
      <u><%= link_to 'Activity', locals[:path].call(sortby: 'activity') %></u>&nbsp;&nbsp;
    </span>
    <span style="padding-left: 38px; font-size: 18px; font-weight: bold;">
      <%= locals[:title] %>
    </span>
  </div>
  <div class="row" style="margin-bottom: 0px; margin-top: 0px; padding-left: 58px;">
    <div class="css-index-top-pagination">
      <% page_param_name = 'page' unless locals.key?(:page_param_name)
         page_param_name = locals[:page_param_name] if locals.key?(:page_param_name)
      %>
      <%= will_paginate locals[:pagination_collection],
                        :style => 'margin: 0px; padding: 0px;',
                        :inner_window => '2',
                        :outer_window => '1',
                        :link_separator => ' ',
                        :param_name => page_param_name,
                        :params => { :clicked => "#{page_param_name}" }
    %>
    </div>
  </div>
<% end %>
