<div class="container-fluid css-add-to-slack">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="jumbotron">
        <center>
          <h1>MiaDo</h1>
          <%= image_tag 'dog_head_icon.png', class: 'img-circle',
              style: 'margin-right: 20px;',
              size: '100x100' %>
              <h3>Thanks ! &nbsp;<%= "#{@view.current_user.name.capitalize}" %>
                  for adding <%= (defined? @view.team.bot).nil? ? '/do' : @view.team.bot.name %>.<br>
                  to your <%= @view.team.name %> team.
              </h3>
          <br><br>
          <p>
            <%= link_to 'Continue to Slack', @view.team.url, class: 'btn btn-primary btn-lg' %>
          </p>
          <br>
          <br>
          <h5><mark>MiaDo is beta software. Please report bugs to admin@miado.net</mark></h5>

       </center>
     </div>
   </div>
  </div>
</div>
