<div class="container-fluid css-add-to-slack">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="jumbotron">
        <center>
          <h1><a href="<%= new_user_session_path %>"
                 style="color: black; text-decoration: none; cursor: default;">
            MiaDo
          </a>
          </h1>
          <%= image_tag 'dog_head_icon.png', class: 'img-circle',
              style: 'margin-right: 20px;',
              size: '100x100' %>
              <%
                install_channel = @view.locals[:install_channel]
                bot_name = '/do'
                if install_channel.nil?
                  user_name = 'No Name'
                  team_name = 'No Name'
                  slack_url = '#'
                else
                  user_name = install_channel.auth_json['info']['user'].titleize
                  team_blobs = install_channel.auth_json['info']['team'].split
                  team_blobs.delete_at(team_blobs.size - 1) if (team_blobs[team_blobs.size - 1].downcase) == 'team'
                  team_name = team_blobs.join(' ')
                  slack_url = install_channel.auth_json['extra']['raw_info']['url']
                end
              %>
              <h3>
                Nice! Thanks for choosing /do to manage tasks for your<br>
                <%= team_name %> Team,
                <%= user_name %>.
              </h3>
              <div style="display: inline-block;">
                <h4 style="font-size: 1.4em;">Get started with /do by going to your Slack team (click below)...<br></h4>
                <ol class="text-justify" style="font-size: 1.35em; padding-left: 1.2em;">
                  <li>Enter "/do help" in any channel for the commands to add,<br>
                      modify, complete and view tasks.
                  </li>
                  <li>Add new task or update existing ones.<br>
                  </li>
                  <li>At anytime, click on your Taskbot to see your current task list.
                  </li>
                  <li>Each team member has their own Taskbot and task list.
              </ol>
              <a href="/about#faq" style="color: black; font-size: 1.3em;"><u>More questions? See FAQ</u></a>
            </div>

          <br><br>
          <p>
            <%= link_to 'Continue to Slack', slack_url, class: 'btn btn-primary btn-lg' %>
          </p>
          <br>
          <br>
          <h5>MiaDo is beta software, so please let us know
            <a href="/add_to_slack#contact_us"><u>here</u></a>
            if you see any problems!</h5>

       </center>
     </div>
   </div>
  </div>
</div>
