<h3><%= "#{pluralize(locals[:members].length, '*Member')}* for Team" %>
    <u><%= link_to locals[:team].auth_json['info']['team'],
                   team_path(locals[:team]),
                   title: "Team added #{locals[:team].created_at.in_time_zone("Pacific Time (US & Canada)").strftime('%a %B %e, %Y %l:%M%P - PT')}" %></u>
    <%= "(#{locals[:team].slack_team_id})" %>
</h3>
<% unless locals[:members].empty? %>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Slack User Name</th>
        <th>Slack User Id</th>
        <th>Installed MiaDo on Date</th>
        <th>Last Created Task Date (type)<br>Now:&nbsp;&nbsp;<%= DateTime.current.in_time_zone("Pacific Time (US & Canada)").strftime('%a %B %e, %Y %l:%M%P - PT') %></th>
      </tr>
    </thead>
    <tbody>
      <% locals[:members].each do |member| %>
        <%= render partial: 'members/admin_views/index_member',
                   locals: { locals: { member: member,
                                       installation: Installation.installations(slack_team_id: locals[:team].slack_team_id,
                                                                                slack_user_id: member['slack_user_id']
                                                                               ).first,
                                       last_active: ListItem.last_active(slack_team_id: locals[:team].slack_team_id,
                                                                         slack_user_id: member['slack_user_id'])
                                     }
                           }
        %>
      <% end %>
    </tbody>
  </table>
  <% end %>
<br>
