<header class="css-body-header">
  <%= render partial: 'shared/index_page_header',
             locals: @view.locals = { title: 'Admin Dashboard - Users' }
  %>
</header>

<main class="css-body-main">
  <div class="container">
    <h2>Users<%= " (#{User.count})" %></h2>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>SignUp Date</th>
          <th><%= link_to 'Oauth Providers', omniauth_providers_path %><%= " (#{OmniauthProvider.count})" %></th>
          <th><%= link_to 'Teams', teams_path %><%= " (#{Team.count})" %></th>
        </tr>
      </thead>
      <tbody>
        <% User.all.each do |user| %>
          <%= render partial: 'users/admin_views/index_user',
                     locals: @view.locals = { user: user }
          %>
        <% end %>
      </tbody>
    </table>
    </div>
</main>
