<tr>
  <td><%= ((locals[:page].to_i - 1) * locals[:per_page].to_i) + locals[:index] + 1 %>
  <td><u><%= link_to locals[:user].name,
              user_path(locals[:user]),
              title: "" %></u>
  </td>
  <td><%= locals[:user].email %></td>
  <td><%= locals[:user].created_at.in_time_zone("Pacific Time (US & Canada)").strftime('%a %B %e, %Y %l:%M%P - PT') %></td>
  <td><%= locals[:last_active].nil? ? '' :locals[:last_active].updated_at.in_time_zone("Pacific Time (US & Canada)").strftime('%a %B %e, %Y %l:%M%P - PT') %></td>
  <td><u><%= link_to locals[:num_installations], installations_path %></u></td>
  <td><u><%= link_to locals[:num_teams], teams_path %></u></td>
</tr>
