<tr>
  <td><u><%= link_to locals[:user].name,
              user_path(locals[:user]),
              title: "" %></u>
  </td>
  <td><%= locals[:user].email %></td>
  <td><%= locals[:user].created_at.strftime("%a, %d %b %Y") %></td>
  <% # Fill in variable number of Slack teams and omniauth_providers
  next_idx = 0
  while next_idx < locals[:teams].length || next_idx < locals[:installations].length do
  %>
    <%= render partial: 'users/admin_views/index_installation',
               locals: { locals: { installation: locals[:installations][next_idx] } }
    %>
    <%= render partial: 'users/admin_views/index_team',
               locals: { locals: { installation: locals[:installations][next_idx] } }
    %>
    </tr>
    <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
  <% next_idx += 1
  end
  %>
  <td>&nbsp;</td><td>&nbsp;</td>
</tr>
