<header class="css-body-header">
  <%= render partial: 'shared/index_page_header',
             locals: { locals: { title: "Users (#{locals[:users].length})",
                                 pagination_collection: locals[:users]
                               }
                     }
  %>
</header>

<main class="css-body-main">
  <div class="container">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>SignUp Date</th>
          <th>Last Activity (now)<br>(<%= DateTime.current.in_time_zone("Pacific Time (US & Canada)").strftime('%a %B %e, %Y %l:%M%P - PT') %>)</th>
          <th><u><%= link_to 'Installations', installations_path %></u><%= " (#{locals[:installations].length}) by" %></th>
          <th><u><%= link_to 'Teams', teams_path %></u><%= " (#{locals[:teams].length})" %></th>
        </tr>
      </thead>
      <tbody>
        <% User.all.each do |user| %>
          <%= render partial: 'users/admin_views/index_user',
                     locals: { locals: { user: user,
                                         installations: [], # locals[:installations],
                                         teams: [], # locals[:teams],
                                         last_active: Channel.last_active(user: user)
                                       }
                             }
          %>
        <% end %>
      </tbody>
    </table>
    </div>
</main>
