<% this_page_team_page = params[locals[:this_page_teams_page_param_name]] || '1'
   ui_page_num = ((this_page_team_page.to_i - 1) * locals[:paginate_per_page].to_i) + locals[:index] + 1
   members = locals[:rtm_start_members] || {}
   channels = locals[:rtm_start_channels] || {}
%>

<tr>
  <td><u><%= link_to locals[:auth_info]['team'],
              "#{teams_path}?page=#{ui_page_num}",
              title: "" %>
      </u>
      <br>(<%= locals[:installation].id %>)
  </td>
  <td><u><%= link_to locals[:auth_info]['user'],
              installation_path(locals[:installation]),
              title: "" %>
      </u>
      <br>@<%= locals[:installation].created_at.in_time_zone("Pacific Time (US & Canada)").strftime('%a %B %e, %Y %l:%M%P - PT') %>
      <br>*<%= locals[:installation].updated_at.in_time_zone("Pacific Time (US & Canada)").strftime('%a %B %e, %Y %l:%M%P - PT') %>
      <br>[<%= DateTime.current.in_time_zone("Pacific Time (US & Canada)").strftime('%a %B %e, %Y %l:%M%P - PT') %>]
  </td>
  <td><%= "(#{members.size})" %><br>
      <%= "#{members.map{|member|"#{member['name']} "}}" %>
  </td>
  <td><%= "(#{channels.size})" %><br>
      <%= "#{channels.map{|channel|"#{channel['name']} "}}" %>
  </td>
</tr>
