<% ui_page_num = ((locals[:page].to_i - 1) * locals[:per_page].to_i) + locals[:index] + 1
%>
<tr>
  <td><%= ui_page_num %>
  <td><u><%= link_to locals[:auth_info]['team'],
                     "#{teams_path}?page=#{ui_page_num}",
             title: "" %></u>
  </td>
  <td><%= locals[:installation].id %></td>
  <td><%= locals[:installation].created_at.in_time_zone("Pacific Time (US & Canada)").strftime('%a %B %e, %Y %l:%M%P - PT') %></td>
  <td><%= locals[:installation].last_activity_date
                               .in_time_zone("Pacific Time (US & Canada)")
                               .strftime('%a %B %e, %Y %l:%M%P - PT') %>
     &nbsp;(<%= locals[:installation].last_activity_type %>)
  </td>
</tr>
