<div class="css-navbar-right">
  <ul class="nav navbar-nav pull-right">

    <% if @view.user_signed_in? %>
      <% if @view.current_user.admin? %>
        <% #= render 'layouts/page_header_navbar_admin_picklist' %>
        <% #<li><%= link_to '|', '' #%#></li>%>
      <% elsif true # policy(Team).index? %>
        <li><%= link_to 'My Teams',
                user_teams_path(@view.current_user),
                class: 'css-apps-link' %></li>
        <li><%= link_to '|', '' %></li>
      <% end %>
        <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
      <% if true # policy(User).edit? %>
        <li><%= link_to '|', '' %></li>
        <li><%= link_to settings_path,
                title: "Settings" do %>
                <i class="glyphicon glyphicon-cog glyph-1-5x"> </i>&nbsp;<% end %>
      <% end %>
        </li>

    <% else %>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
        <li><%= link_to '|', '' %></li>
        <% #<li><%= link_to 'Sign Up', new_user_registration_path %#></li> %>
        <li><%= link_to 'Sign Up', add_to_slack_path %></li>
    <% end %>

  </ul>
</div>
